.wd-kanbas-dropdown-navigation {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.wd-kanbas-dropdown-navigation li {
    padding: 10px;
    font-size: 0.8em;
}

.wd-kanbas-dropdown-navigation a {
    color: red;
    text-decoration: none;
    font-size: 0.875rem;
}

.wd-kanbas-dropdown-navigation-icon {
    color: red;
    font-size: 2em;
    margin: 5px;
}

.wd-kanbas-dropdown-profile {
    color: grey !important;
}