.wd-breadcrumb {
    font-size: 25px;
    padding: 5px;
    --bs-breadcrumb-divider: '>';
}

.wd-breadcrumb-back {
    text-decoration: none;
    color: red;
}

.wd-breadcrumb-here {
    text-decoration: none;
    color: black;
}

.wd-breadcrumb button {
    font-size: 15px;
}