.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 83px;
    height: 100%;
}
.wd-kanbas-navigation li {
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}
.wd-kanbas-navigation li.wd-active {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}
.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
}
.wd-kanbas-navigation-icon {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}
.wd-kanbas-list-img {
    padding: 0px !important;
}
.wd-kanbas-profile {
    color: grey !important;
}